---
import Layout from "../Layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"
import docs from "../stores/docs.json"
---

<Layout>
	<Navigation />
    <Header />
    <main>
        <h1>
            Documentation
        </h1>
        <div class="docs-cards">
            {
                docs["nosection"].map(doc => (
                    <Card 
                        title={doc.name}
                        desc={doc.desc}
                        type="document"
                        href={doc.href}
                    />
                ))
            }
            {
                docs["api"].map(doc => (
                    <Card 
                        title={doc.name}
                        desc={doc.desc}
                        type="document"
                        href={doc.href}
                    />
                ))
            } 
        </div>
        <h1>
            Features
        </h1>
        <div class="feature-cards">
            <Card 
                title="Performance"
                desc="GreenFrog provides a fast experience using the bedrock-protocol and a stable code built form scratch."
                type="feature"
            />
            <Card 
                title="Vanilla Gameplay"
                desc="You can take advantage of the Minecraft Vanilla gameplay without coding it."
                type="feature"
            />
            <Card 
                title="Type Safe"
                desc="By default, GreenFrog isn't type safe, but you can make it type safe by following the documentation steps using TypeScript."
                type="feature"
            />
        </div>
        <h1>
            Contributors
        </h1>
        <div class="github-contributors" id="#contributors">
            <contributor-card>
                <h2>Loading...</h2>
            </contributor-card>
        </div>
    </main>
</Layout>